<ion-view view-title="{{page}}" class="main">
  <!-- [START] Header button to change view -->
  <ion-nav-buttons side="right">

    <button style="padding-right: 5px;" class="button icon ion-navigation" ng-click="searchCategory()">
      <i class="icon ion-ios-search"></i>
    </button>
  </ion-nav-buttons>

  <ion-content>

    <div class="grid-container">

      <!-- Card view of the items -->
      <div class="grid-two-to-three-to-four-col" ng-repeat="item in DOMFeeds" ng-if="viewType == 'grid'">
        <div href="#" class="list card" ng-click="fullView(item)">
          <div class="item item-image" style="background-image: url('{{item.field_item_image.und[0].imgPath}}')"></div>
          <a class="item item-icon-right">
            {{::item.title}}
          </a>
        </div>
      </div>
      <!-- List view of the items -->
      <ion-list>
        <ion-item ng-repeat="item in DOMFeeds"
                  class="item-thumbnail-left" ng-if="viewType == 'list'"
                  ng-click="fullView(item)">
          <img ng-src="{{item.field_item_image.und[0].imgPath}}">
          <h2>{{::item.title}}</h2>
          <p>{{::item.body.und[0].value}}</p>
        </ion-item>
        <ion-item ng-show="itemsFinished">Sorry no more items!</ion-item>
      </ion-list>
    </div>
    <!-- End Main grid -->
    <!-- Infinite scroll directive -->
    <div ng-if="searchActive == false">
      <ion-infinite-scroll
              ng-if="checkInitial()"
              on-infinite="loadInitialInfiniteScroll()"
              immediate-check="false"
              distance="1%">
      </ion-infinite-scroll>
    </div>
    <div ng-if="searchActive == true">
      <ion-infinite-scroll
              ng-if="checkSearch()"
              on-infinite="loadSearchInfiniteScroll()"
              immediate-check="false"
              distance="1%">
      </ion-infinite-scroll>
    </div>
  </ion-content>

</ion-view>