<ion-view>
  <ion-content class="background-gradient">
    <form ng-submit="doResetRequest()" class="list form-wrapper">

        <label class="item item-input form-field">
          <i class="material-icons">lock_outline</i>
          <input type="password" ng-model="resetPass.email" placeholder="New password" name="password">
        </label>

        <label class="item item-input form-field">
          <i class="material-icons">lock_outline</i>
          <input type="password" ng-model="resetPass.email" placeholder="Retype new password" name="password1">
        </label>

        <label class="item form-submit">
          <button class="button button-transparent" type="submit">Save</button>
        </label>
    
    </form>
  </ion-content>
</ion-view>