<ion-view view-title="About us">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
    </button>
  </ion-nav-buttons>
  <ion-content>
    <div class="item">
      <div class="item-title">The <b class="calm">elephant app</b> team</div>
    </div>
    <div class="item item-body">
      The <b class="calm">elephant app</b> is developed by London South Bank University and student
      Nav Dhuti, in partnership with and supported by LSBU's Sustainability Team
      in the Estates and Acadamic Environment department.
    </div>
    <div class="item">
      <div class="item-title">Our motive</div>
    </div>
    <div class="item item-body">
      It’s easy to take small steps to reduce your environmental impact – starting
      with reducing the consumption of goods! This app will help you find a new
      home for the things you no longer need, and save them from being thrown away.
    </div>
    <div class="item">
      <div class="item-title">Contact Us</div>
    </div>
    <div class="item item-body">
      If you want to know more or have any question, please get in touch at
      <b>hello@myelephant.xyz</b>
    </div>
    <div class="item">
      <div class="item-title">App version</div>
    </div>
    <div class="item item-body">
      0.0.2
    </div>
  </ion-content>
</ion-view>
