<ion-view view-title="Get Item" class="get-item">
  <ion-nav-bar class="bar-calm">
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>
    <div class="list card">
      <div class="item item-image" style="background-image: url('http://maddna.xyz/images/{{item_img}}')"></div>
      <div class="item item-body">
        {{ item_name }} <br> Posted on: {{ item_date }}
      </div>
      <div class="item item-body">
        Description: <br> {{ item_description }}
      </div>
    </div>
    <div class="list list-inset">
      <label class="item item-input">
        <textarea id="user_message">Hey, I am interesed in your item.</textarea>
      </label>
      <button class="button button-calm button-full icon-center ion-paper-airplane" ng-click="messageCheck()">
        Message
      </button>
    </div>
  </ion-content>
</ion-view>
