<ion-view view-title="Get Item">
  <ion-content>
    <div class="list card">
      <div class="item item-body">
        <img class="full-image" src="./../img/ionic.png">
      </div>
      <div class="item item-body">
        {{ item_name }} <br> Posted on: {{ item_date }}
      </div>
      <div class="item item-body">
        Description: <br> {{ item_description }}
      </div>
    </div>
    <div class="list list-inset">
      <label class="item item-input">
        <textarea id="user_message">Hey, I am interesed in your item.</textarea>
      </label>
    </div>
  </ion-content>
  <div class="bar bar-footer bar-calm">
    <div class="title" ng-click="messageCheck()">Message</div>
  </div>
</ion-view>
