<ion-view view-title="Get Item">
  <ion-content>
    <div class="list card">
      <div class="item item-body" onclick="Postitem.takePicture()">
        <img class="full-image" src="./../img/ionic.png">
      </div>
    </div>
    <div class="list list-inset">
      <label class="item item-input">
        <textarea>Hey, I am interesed in your item.</textarea>
      </label>
    </div>
  </ion-content>
  <div class="bar bar-footer bar-calm">
    <div class="title">Message</div>
  </div>
</ion-view>
