<ion-view view-title="Main">
  <ion-content>
    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input id="search" type="text" placeholder="Search for items" ng-change="search()" ng-model="searchValue">
      </label>
    </div>
    <div class="list card" ng-repeat="item in items" >
      <div class="item item-image">
        <img ng-src="http://maddna.xyz/{{ item.image }}" />
      </div>
      <div class="item item-body"
           ng-click="trafficLight('getitem',item.name,item.description,item.image,item.postDate,item.uid)">
        {{ item.name }}
      </div>
    </div>
    <ion-infinite-scroll
      ng-if="check()"
      on-infinite="loadMore()"
      distance="1%">
    </ion-infinite-scroll>
  </ion-content>
  <div class="bar bar-footer bar-calm">
    <div class="title" ng-click="trafficLight('postitem')">Post Item</div>
  </div>
</ion-view>
