<ion-view view-title="Main" class="main">
  <ion-nav-bar class="bar-calm">
  </ion-nav-bar>
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
    </button>
  </ion-nav-buttons>
  <ion-content>
    <ion-refresher
    pulling-text="Pull to load new items..."
    on-refresh="loadMore()">
    </ion-refresher>
    <div class="grid-container">
      <div class="list list-inset">
        <label class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input id="search" type="text" placeholder="Search for items"
                 ng-change="search()"
                 ng-model="searchValue">
        </label>
      </div>
      <div class="grid-two-to-three-to-four-col" ng-repeat="item in items">
        <div href="#" class="list card" ng-click="trafficLight('getitem',item.name,item.description,item.postDate,item.uid,item.image)">
          <div class="item item-image" style="background-image: url('http://maddna.xyz/images/{{ item.image }}')"></div>
            <a class="item item-icon-right">
              <i class="icon ion-ios-redo"></i>
                {{ item.name }}
            </a>
        </div>
      </div>
    </div>

    <ion-infinite-scroll
      ng-if="check()"
      on-infinite="loadMore()"
      distance="1%">
    </ion-infinite-scroll>
  </ion-content>
  <div class="tab-striped  tabs-background-calm">
    <div class="tabs tabs-icon-top tabs-color-light ">
    <a class="tab-item active" ng-click="trafficLight('postitem')">
      <i class="icon ion-upload"></i>
      Post item
    </a>
  </div>
</div>
</ion-view>
