<ion-view view-title="Post Item">
  <ion-content>
    <div class="list card">
      <div class="item item-body" onclick="item.selectPicture()">
        <img class="full-image" src="./../img/ionic.png" id="upImage">
      </div>
    </div>
    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="Name of your item" id="itmnm">
      </label>
      <label class="item item-input">
        <textarea placeholder="Describe you item in few words" id="desc"></textarea>
      </label>
      <button class="button button-calm button-full icon-center ion-upload" onclick="item.uploadImage()">
        Upload
      </button>
    </div>
  </ion-content>

</ion-view>
