<ion-view view-title="Register">
  <ion-content>
    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="Username" id="set_name">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="LSBU Email" id="set_email">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Password" id="set_pass">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Re-type Password" id="set_pass2">
      </label>
      <ion-checkbox ng-model="filter.red">Agree terms and condition</ion-checkbox>
    </div>
  </ion-content>
  <div class="bar bar-footer bar-calm">
    <div class="title" onclick="registerUser.processInput()">Register</div>
  </div>
</ion-view>
