<ion-view view-title="User Guide" class="terms">
  </ion-nav-buttons>
  <ion-content>
    <div class="item item-body">
      Intro to elephant app
    </div>
    <!-- Add slide box for user guide -->


    <ion-slide-box on-slide-changed="slideHasChanged($index)">
      <ion-slide>
        <div class="box blue"><h1>Intro to elephant app</h1></div>
      </ion-slide>
      <ion-slide>
        <div class="box"><h1>YELLOW</h1></div>
      </ion-slide>
      <ion-slide>
        <div class="box"><h1>PINK</h1></div>
      </ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-view>
