<ion-view view-title="User Guide" class="terms">
  <ion-nav-bar class="bar-calm">
    <ion-nav-buttons side="left">
      <button ng-click="closeUserGuide()" class="button button-icon button-clear ion-navicon">
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
    <div class="item item-body">
      Here you can place your T&C text. This page will be linked from the registration page, but there's nothing special needed here (the T&C acceptance checkbox should be on the registration page)
    </div>
  </ion-content>
  <div class="tab-striped  tabs-background-calm" ng-if="$storage.app_launch_activity == 0">
    <div class="tabs tabs-color-light ">
      <button class="button button-balanced" ng-click="closeUserGuide()">Start using the app</button>
  </div>
</div>
</ion-view>
